<tr>
  <td><%= empresa.nombre %></td>
  <td><%= link_to 'Show', empresa %></td>
  <td><%= link_to 'Edit', :remote => true, :class => 'edit_empresa' %></td>
  <td><%= link_to 'Destroy', empresa, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_empresa' %></td>
</tr>